* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #555;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 70%;
    background-color: #f0f8e0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 28px;
    font-weight: bold;
}

#form-section {
    width: 100%;
}

.form-group {
    margin-bottom: 30px;
}

.form-row {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    width: 45%;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
}


input[type="text"], input[type="tel"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    margin-left: 10px; /* Adjust spacing */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="button"] {
    background-color: #4CAF50;
    color: white;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
}

button:hover {
    opacity: 0.9;
}

#verify-button {
    margin-left: 10px; 
    background-color: #FF5733; 
    color: white;
}

#verify-button:hover {
    opacity: 0.8;
}

input[type="text"], input[type="tel"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 45%;
    flex-grow: 1;
}

